.inline {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2%;
}

.brand-font {
    line-height: 1.5;
    font-family: var(--ff-interactive);
}

.selection::selection {
    transition: filter 1s linear;
    filter: saturate(1.9) brightness(1.9) contrast(1.9);
}

.letter {
    transition:
        color 1s ease,
        opacity 0.2s linear;
}

.letter-red {
    color: var(--c-highlight-1);
}
.letter-purple {
    color: var(--c-highlight-2);
}
.letter-blue {
    color: var(--c-highlight-3);
}
.letter-green {
    color: var(--c-highlight-4);
}
.letter-gold {
    color: var(--c-highlight-5);
}

.letter-final {
    color: var(--c-light-default);
}

.move {
    transition: left 1s cubic-bezier(0.75, 0.06, 1, 0.82);
    position: relative;
}

.move-to-left {
    left: -32px;
}

.move-to-right {
    left: 32px;
}

.move-return {
    left: 0;
}

.appear {
    transition: opacity 0.5s linear 0.2s;
    opacity: 1;
}

.disappear {
    transition: opacity 0.5s linear;
    opacity: 0;
}
.col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active {
    position: relative;
    cursor: pointer;
}
